// --- VARIABLES ---
$ui-accent: #b19cd9;
$blood-red: rgba(150, 0, 0, 0.6);
$dark-bg: #050505;
$glass-bg: linear-gradient(
  135deg,
  rgba(25, 25, 25, 0.85) 0%,
  rgba(10, 10, 10, 0.95) 100%
);
$history-cyan: #66b2ff;
$history-red: #ff4d4d;
$glass-dark: rgba(10, 12, 18, 0.95);

// --- MIXINS ---
@mixin glass {
  background: $glass-bg;
  backdrop-filter: blur(15px);
  border: 1px solid rgba($ui-accent, 0.3);
}
